@media screen and (min-width:768px) and (max-width:1199px)
{
.header
{
    border-bottom: 1px solid #ECECEC; 
}
.menu-buton{
    display: none;

}

.content-menu
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.header-menu
{
    margin: 0;
    padding: 0;
   
    padding-right: 84px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
      
}
.itemp,
.itemk
{margin-left: 50px;}



.header-icom 
{
    padding: 0;
    margin: 0;
    margin-right: 10px;
    fill:currentColor;
}


.logo {
    
    margin: 0;
    padding: 0;
    padding-bottom: 16px;
    padding-top: 16px;
    display: flex;  
    align-items: baseline; 
    list-style-type: none;
    color: #070707;
    font-family: Raleway;
    
}



.logo1
{
    align-items:baseline;
    font-family: $primaryfamily;
    display: flex;
    text-align: center;
    margin: 0;
    
    padding: 0;
    padding-left: 10px;
    text-decoration: none;
    list-style-type: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.logo-header
{ 
    padding: 0;
    padding-right: 88px;
    margin: 0;
    color: #050505;
    font-family: $primaryfamily;
}


.adres {
    padding: 0;
    
    margin: 0;
    font-family: $primaryfamilyf;
    display: flex;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #757575;
    transition-property: color;
    transition-timing-function: $time-fuction;
    transition-duration: 250ms;
}

.logo-b,
.adres{
    &:hover

{
    color: #2196F3;
}}

.adress
{
    padding: 0;
    // padding-left: 250px;
    display: flex;
    flex-wrap: wrap;
   
    // justify-content: flex-end;
    margin: 0;
   
    }
  
  
    
    .logo-b
    {   font-family: Roboto;
        position: relative;
        padding: 0;
       padding-bottom: 32px;
       
        margin: 0;
        text-decoration: none;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        padding-top: 50px;
        /* identical to box height */
        
        letter-spacing: 0.02em;
        
        color: #212121;
        &:hover

        {
            color: #2196F3;
        }
        
 &::after
 {
     position: absolute;
     content: "";
     display: block;
     padding: 0;
   
     margin: 0;
     left: 0;
     bottom: 0;
     width: 100%;
     height: 4px;
     background-color:  #2196F3;
     opacity: 0;
     border-radius: 2px;
     transition:opacity 250ms $time-fuction;
    
    
  }
 
}   
.header-icom 
{
    padding: 0;
    margin: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    fill:currentColor;
}

.logo-b:focus,
.logo-b:active,
.logo-b:active::after,
.logo-b:focus::after 
{   
    opacity: 1; 
    color:#2196F3;
} 
}