
ul
{ 
    list-style-type: none;
}
body {

    font-family: Roboto, sans-serif;
    font-style: 400;
    list-style-type: none;
    margin: 0;
    
}
.contaner
  { margin-left: auto;
    margin-right: auto;
    width: 1200px;
}
