
ul
{ 
    list-style-type: none;
}
body {

    font-family: Roboto, sans-serif;
    font-style: 400;
    list-style-type: none;
    margin: 0;
    
}
.contaner
  { padding-right: 15px;
    padding-left: 15px;
    width: 1200px;
}
