 @media screen and (max-width:767px)
{
ul
{ 
    list-style-type: none;
    text-decoration: none;}

body {

    font-family: Roboto, sans-serif;
    font-style: 400;
    list-style-type: none;
    margin: 0;
    
}
.contaner
  {margin-right: auto;
    margin-left: auto;
    // padding-right: 15px;
    // padding-left: 15px;
    width: 480px;
}
}

