@media screen and (max-width:767px)
{

textarea
{
    resize: none;
}

.speaker-form
{
    margin-right: 40px;
    margin-left: 40px;
   
}

.form-dan
{
    font-style: normal;
    font-family: Roboto;
   
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: $lastColor;
    margin: 0;
    padding: 0; 
    padding-right: 40px;
    padding-left: 40px;
    margin-bottom: 20px;
    margin-top: 10px;
}



.form-coment
{
    margin-bottom: 20px; 
    padding: 12px 16px 12px 16px;
    width: 100%;
    max-height: 100px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    
}

.form-contract
{
    position: absolute;
    appearance: none;
    -webkit-appearance:none ;
    -moz-appearance:none; 
    margin: 0;
    margin-bottom: 30px;
    
    
}
.button-form
{
    padding: 10px 55px 10px 55px;
   
    /* margin-right: 164px;
    margin-left: 164px; */
    margin-bottom: 30px;
    margin-top: 20px;
    font-family: $primaryfamilyf;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;


   
    letter-spacing: 0.06em;

    color: $primaryColor;
    background: $borderhoverColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    outline:none;

}
.close-form
{
    display: block;
    align-items: center;
    text-align: center;  
}
.modal-button:hover  
{
    fill:$borderhoverColor;
    
}
.form-name

{
    
    font-family: $primaryfamilyf;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    color: #757575;

    
}
.form
{
    position: relative;
    
&-description
{
    margin-bottom: 20px;
    //padding-left: 42px;
    width: 100%;
    height: 40px;
   
    position: relative;
    display: flex;
    flex-direction: column;

    background: $primaryColor;
    border: 1px solid rgba(33, 33, 33, .2);
    box-sizing: border-box;
    border-radius: 4px;
    
}

&-name

{
    
    font-family: $primaryfamilyf;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

    color: #757575;

    
}

}



.iconb
{
   position: absolute;
   top: 50%;
   left: 0;
   width: 13px;
   height: 13px;
   margin-left: 14.27px;
   margin-top: 13.26px;
   transform: translateY(-50%);

}
.contract
{
    color: $borderhoverColor;
}

.form-description:focus-within,
.form-coment:focus
{
    border: 1px solid $borderhoverColor;
    outline:none;
  
}
.form-description:focus ~ .iconb

{
    fill: $borderhoverColor;
} 


.checbo
{
    width: 16px;
    height: 15px;
    
    border: 2px solid $lastColor; 
    border-radius: 4px;
    position: absolute;
    margin-left: -1.4em;
   
           
}
.form-contract:checked ~ .checbo
{
    
    background-image: url('./img/iconcheck.svg');
    background-size:contain ;
    background-origin: border-box;
}
.sogl
{
    margin-left: 1.3em;
}
}