@media screen and (max-width:767px)
{

    .team1{
        padding-top: 94px;
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
        display: block;
        background: #F5F4FA;
        
        /*background-color: blueviolet;*/
        
        /*text-align: center;
        width: 1600px;
        display: inline-block; 
        background-color: blueviolet;*/
        &-signature
        {
            
            /*margin-bottom: 94px;*/
            padding: 0;
            margin-bottom: 0;
            margin-top: 50px;
           
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 33px;
            /* identical to box height */
            
            text-align: center;
            letter-spacing: 0.03em;
            
            color: #212121;
        }
        
    }


    

    
    .signature
    {
        background: #F5F4FA;
        /*margin-bottom: 94px;*/
        padding: 0;
        padding-bottom: 60px;
        margin-bottom: 0;
        margin-top: 50px;
        display: block; 
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: #212121;
    }
    .fig 
    {
        width: 100%;
        object-fit:cover;  
        margin: 0;
    }
    
.fig > img {
    display: block;
    width: 100%;}
    
    .title-t
    {
        margin: 0;

        /*margin-bottom: 50px;*/
        text-align: center;
        display: block;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: #212121;
    }

    .team{
    
        margin-bottom: 0px;
       display: block;
        text-align: center;
        
        
     }

    .borderk{
        border: 1px solid #EEEEEE;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        background: #FFFFFF;
        &-sigfoto
        {
            font-family: Roboto;
            margin-top: 30px;
            margin-bottom: 10px;
        }
        &-signature1
    {
        font-family: Roboto;
        margin-bottom: 16px;
        font-weight: 400;
        color: #757575;
    }
    }

    .sig
    {
        margin-left: 0;
        margin-bottom: 30px;
        margin-right: 15px;
        margin-left: 15px;
    
}




    .iconn{
        margin: 0;
        padding: 0;
        padding-bottom: 30px;
        padding-inline-start: 0px;
        display: block; 
        text-align: center;

        
    /*padding-left: 30px;*/
    /*padding-right: 30px;*/
    }

    .icon{
        margin-right: 10px;
        width:44px;
        height:44px;
        padding: 0;
        border: none;
        border-radius: 50%;
        display: inline-block;
        overflow: hidden;
    /* background-color: #FFFFFF;*/
    transition-property: background-color, fill;
    transition-timing-function: var(--time-fuction);
    transition-duration: 250ms;
    
        
    } 

    .iconlast{ 
        margin:0;
    }
    .icon:hover,
    .icon:hover .buton-icom{
        background-color: #2196F3;
        fill: #FFFFFF;
    }

    .buton-icom{
    
        fill: #AFB1B8;
        padding: 0;
        margin: 0;
        
    }
}

